### Mac files
.DS_Store
.AppleDouble
.LSOverride

## in django files
local_settings.py
web/misc/wed_dev.conf
web/misc/wed_prod.conf
web/logs/*.log
web/_data/*
!.empty

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### End of Mac files


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so



# Log Files
*.log

.gitignore

*.css.map
